<ion-header>

  <ion-navbar color="primary" padding-top>
    <ion-title>Friends</ion-title>

    <ion-buttons end>
      <button end clear ion-button (click)="onAddTaped()">
        <ion-icon name="md-person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding-bottom>
  <ion-searchbar></ion-searchbar>

  <ion-item-group *ngFor="let group of groupedFriendList">

      <ion-item-divider color="neutralLight2">{{group.gName}}</ion-item-divider>
      <button ion-item detail-none *ngFor="let aFriend of group.friends" (click)="friendSelected(aFriend)">
        <ion-avatar item-start>
          <img src="https://gordon-beeming.gallerycdn.vsassets.io/extensions/gordon-beeming/github/0.10.0/1474455219937/img/logo.png">
        </ion-avatar>
        <h2>{{aFriend.userName}}</h2>
        <p>{{aFriend.userEmail}}</p>
      </button>
  
    </ion-item-group>

</ion-content>