ion-header{
	img {
        border-radius: 50%;
        width: 100px;
        height: auto;
        margin-right: 15px;
    }
    h6{
    	color:white;
    }
    span{
    	color:color($colors, white, base);
    }
    background-color:color($colors, primary, base);
}

.border_bottom{
    border-bottom:10px solid color($colors, neutralLight1, base) !important;
}
.border_bottom_top{
    border-bottom:1px solid color($colors, neutralLight2, base) !important;
    border-top:1px solid color($colors, neutralLight2, base) !important;
    background-color: color($colors, white, base);
}
.bg-style{
    background-color: color($colors, neutralLight1, base);
}
.btn-font-size{
    font-size: 15px;    
}
