
<ion-header padding-top>

  <ion-navbar color="primary">
    <ion-title>Sign up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="formGroup" (ngSubmit)="submitSignUp()" > 
        <ion-list>
            <ion-item>
              <ion-label>Account Type</ion-label>
              <ion-select formControlName="type" name="type" interface="popover" (ionChange)="onTypeChange($event)">
                <ion-option value="personal">Personal</ion-option>
                <ion-option value="business">Business</ion-option>
              </ion-select>
            </ion-item>
        
            <ion-item>
              <ion-label fixed>{{nameLabel}}</ion-label>
              <ion-input clearInput type="text" formControlName="username" name="username" placeholder="required"> </ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label fixed>Email</ion-label>
              <ion-input clearInput type="email" formControlName="email" name="email"  placeholder="required" aria-required="true"></ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label fixed>Mobile No.</ion-label> <!--[brmasker]="{mask:'000 0000000', len:11, type:num}"-->
                <ion-input clearInput type="tel"  formControlName="phone"  name="phone" placeholder="required"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label fixed>Password</ion-label>
              <ion-input clearInput type="password"  formControlName="password"  name="password" placeholder="required"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label fixed>Confirm</ion-label>
              <ion-input clearInput type="password" formControlName="re_password" name="repassword" placeholder="required"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="formGroup.get('re_password').hasError('equalTo') 
                                  || formGroup.get('email').hasError('pattern')
                                  || formGroup.get('password').hasError('pattern')
                                  || formGroup.get('username').hasError('pattern')
                                  || formGroup.get('phone').hasError('pattern')">
                <div class="error" *ngIf="formGroup.get('re_password').hasError('equalTo') ">
                  Password mismatch
                </div>

                <div class="error" *ngIf="formGroup.get('email').hasError('pattern')">
                  Invalid Email address
                </div>

                <div class="error" *ngIf="formGroup.get('username').hasError('pattern')">
                  No Special character allowed
                </div>

                <div class="error" *ngIf="formGroup.get('phone').hasError('pattern')">
                    Incorrect Mobile No.<br/>
                    - e.g. 0871234567
                  </div>

                <div class="error" *ngIf="formGroup.get('password').hasError('pattern')">
                    Password Must have at least: <br/>
                    - 8 characters long<br/>
                    - 1 uppercase & 1 lowercase letter<br/>
                    - 1 number
                </div>

            </ion-item>
        </ion-list>
        <div padding>
          <button ion-button color="primary" block type="submit" [disabled]="!formGroup.valid">Submit</button>
        </div>
    </form>

</ion-content>
<style type="text/css">
  .error{
    font-size: small;
    color:red;
  }
</style>